numpy==1.26.4
scipy==1.10.1
pandas==1.5.3
scikit-learn==1.0.2
seaborn==0.13.2
matplotlib==3.4.3
rdkit-pypi==2022.9.5
biopython==1.78
chembl-webresource-client==0.10.9
imbalanced-learn==0.12.4
tqdm==4.67.1
requests==2.32.4
easydict==1.13
torch_geometric
unipressed==1.4.0
